* {
    margin: 0;
    padding: 0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #e0e1dd;
    color:#0d1b2a;
}

main {
    flex: 1;
}

header, footer {
    background-color: #ededeb;
}

.header-main {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout {
    min-width: fit-content;
}

.logout input {
    width: fit-content;
    height: auto;
    margin: 0;
    padding: 10px;
}

footer {
    color: #778da9;
}

.container {
    margin: auto;
    max-width: 1536px;
    padding: 16px;
}

.card {
    margin: auto;
    background-color: #ededeb;
    padding: 16px;
    width: fit-content;
}

.logo {
    color: #415a77;
}

form {
    min-width: 300px;
}

form h2 {
    margin-bottom: 36px;
    color: #1b263b;
}

form label {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 16px;
    height: 40px;
    width: 100%;
    padding: 5px;
}

.button {
    background-color: #1b263b;
    color: #e0e1dd;
    font-weight: bold;
    height: 40px;
    padding: 5px 10px;
}

.button:hover {
    cursor: pointer;
    filter: brightness(1.75);
}

.error-message {
    color: red;
}

.home-page .container {
    height: 100%;
}

.home-page .card {
    width: 100%;
    height: 100%;
}

.add-task-form {
    display: flex;
    gap: 10px;
}

.add-task-input {
   width: 600px;
}

.todo-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.todo-list-item-task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-list-item-task-name.completed {
    text-decoration: line-through;
}

.todo-list-item-checkbox {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #778da9;
    color: #ededeb;
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

.todo-list-item-delete-button {
    text-decoration: none;
    font-size: 25px;
    color: red;
}