/* #0d1b2a
#1b263b
#415a77
#778da9 */

* {
    margin: 0;
    padding: 0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #e0e1dd;
    color:#0d1b2a;
}

main {
    flex: 1;
}

header, footer {
    background-color: #ededeb;
}

.header-main {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout {
    min-width: fit-content;
}

.logout input {
    width: fit-content;
    height: auto;
    margin: 0;
    padding: 10px;
}

footer {
    color: #778da9;
}

.container {
    margin: auto;
    max-width: 1536px;
    padding: 16px;
}

.card {
    margin: auto;
    background-color: #ededeb;
    padding: 16px;
    width: fit-content;
}

.logo {
    color: #415a77;
}

form {
    min-width: 300px;
}

form h2 {
    margin-bottom: 36px;
    color: #1b263b;
}

form label {
    margin-bottom: 10px;
}

form input {
    margin-bottom: 16px;
    height: 30px;
    width: 100%;
    padding: 5px;
}

.button {
    background-color: #1b263b;
    color: #e0e1dd;
    font-weight: bold;
    height: 40px;
}

.button:hover {
    cursor: pointer;
    filter: brightness(1.75);
}

.error-message {
    color: red;
}